[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/usr/bin/jupyter notebook --port 9999
User=centos
Group=centos
WorkingDirectory=/srv/checkout/titanic
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
